<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookKhana!</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>OOPs Page Does Not Exist</h1>
            <a href="/login" class="button">Go back to login</a>
        </div>
    </div>
</body>

</html>