<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookKhana!</title>
    <link rel="stylesheet" href="/style.css">
</head>
</head>
<body>
    <nav>
        <div class="logo">
            <h1>CookKhana</h1>
        </div>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>
    <div class="container">
  <div class="box"> <h1><%= title %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus in earum magnam illum ab minus qui, molestiae iste quasi consequatur consectetur! Odit sit quibusdam perferendis quae, praesentium cum? Atque, corporis!
    Ullam illum eligendi officia, laboriosam, cum harum voluptatum saepe minus quibusdam accusamus ducimus impedit cumque? Ullam consequatur eos cumque nisi esse assumenda dolorem asperiores ex, eaque, expedita quo cupiditate optio.
    Illum quos eum obcaecati. Incidunt suscipit soluta quos ratione, consectetur, eum nesciunt reiciendis, tempore vero amet accusamus quia animi quo quas. Architecto, commodi. Molestias architecto nihil eos commodi, nulla in!
 Porro dicta, eius nesciunt quidem ipsa unde quibusdam voluptatem, nemo cum, beatae sed minima harum dolorum reprehenderit soluta odit dignissimos suscipit expedita. Reprehenderit magnam porro assumenda in? Omnis, necessitatibus dolorem?</p>
</div>
</div>
   </body>
</html>