<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CookKhana!</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="/image/fav.png" type="image/x-icon">
  </head>

  <body>
    <nav>
      <div class="logo">
        <img src="/image/logo.png" alt="logo" class="logoIcon">
        <h1>CookKhana</h1>
      </div>
      <ul>
        <li><a href="/login">Login</a></li>|
        <li><a href="/signup">Signup</a></li>
      </ul>
    </nav>
      <div class="showmsg" id="showmsg">

        <% if(typeof loginErrs !== "undefined"){ %>
     
           <% loginErrs.forEach((item)=>{ %>
     
              <h2 class="errMsg"><%= item %></h2>
     
           <% }) %>
     
        <% } %>
     
     </div>
      <!-- we use locals becasue locasl always exist it will not give an error -->
      <% if(locals.msg){ %>  
      <h2><%= msg %></h2>
      <% }%>
    </div>
    <div class="form">
      <form action="/login" method="post" id="loginForm" class="formcss">
        <label for="">Email</label>
        <input type="email" name="email" placeholder="Enter Email..." />
        <label for="">Password</label>
        <input type="password" name="pass" placeholder="password" />
        <button type="submit" class="button">Login</button>
      </form>
    </div>
    <script>
        const showmsg = document.getElementById('showmsg')
      

            setTimeout(()=>{
                showmsg.innerText=""
            },2000)
       
    </script>
  </body>
</html>
