<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookKhana!</title>
    <link rel="stylesheet" href="/style.css">
</head>
</head>
<body>
    <nav>
        <div class="logo"><h1>CookKhana</h1></div>
        <li><a href="/">Home</a></li>
            <li><a href="/recipe">Add Recipe</a></li>
    </nav>
    <div class="form">
        <form action="/recipe" id="signupForm" class="formcss">
             <label for="">Author</label>
            <input type="text" name="author" placeholder="Author Name">
            <label for="">Title</label>
            <input type="text" name="title" placeholder="Enter Title">
            <label for="">Details</label>
            <textarea name="steps" id="" cols="30">
                
            </textarea>
        
            <button type="submit" class="button">Sign Up</button>
        </form>
    </div>
  </body>
</html>