<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookKhana!</title>
    <link rel="stylesheet" href="/style.css">
</head>


<body>
    <nav>
        <div class="logo">
            <h1>CookKhana</h1>
        </div>
        <ul>
            <li><a href="/recipe">Add Recipe</a></li>
            <li><a href="/myrecipes">My post</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="box">
            <% if(recipes) { recipes.map(item=> { %>
                <div class="card">
                <h2>
                    <%= item.author %>
                </h2>
                <h2>
                    <%= item.title %>
                </h2>
                <div id="displaysteps">
                    <%- item.detail %>
                </div>
        </div>

                <% }) %>




                    <% }else { %>
                        <h2>
                            <%= error %>
                        </h2>
                        <% } %>

        </div>
    </div>
</body>
</html>