<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookKhana!</title>
    <link rel="stylesheet" href="/style.css">
</head>
</head>
<body>
    <nav>
        <div class="logo"><h1>CookKhana</h1></div>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
    </nav>
    <div class="showmsg" id="showmsg">

        <% if(typeof signupErrs !== "undefined"){ %>
     
           <% signupErrs.forEach((item)=>{ %>
     
              <h2 class="errMsg"><%= item %></h2>
     
           <% }) %>
     
        <% } %>
     
     </div>
    <div class="form">
        <form action="/signup" method="post" id="signupForm" class="formcss">
             <label for="">Username</label>
            <input type="text" name="username" placeholder="Username">
           
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Enter Email...">
            <label for="">Password</label>
            <input type="password" name="pass" placeholder="Password" >
            <input type="password" name="confirm_pass" placeholder="Confirm Password" >
            <button type="submit" class="button">Sign Up</button>
        </form>
    </div>
  </body>
  <script >const showmsg = document.getElementById("showmsg")
    setTimeout(()=>{
        showmsg.innerHTML = ""
    },2000)
  </script>
</html>